{% extends 'base.html' %}
{% block content %}
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina nao encontrada.</h3>

            <p>
                Talvez a pagina que voce procurava nao existe.
                Tente <a href="/">retornar para o inicio</a>.
            </p>
        </div>
        <!-- /.error-content -->
    </div><!-- /.error-page -->
{% endblock %}