{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Matricular Aluno</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" action="/add-aluno">{% csrf_token %}
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nome">Nome aluno:</label>
                                    <input class="form-control " id="nome"
                                           type="text" name="nome" required>
                                </div>
                                <div class="form-group">
                                    <label for="nome">Genero:</label>
                                    <select class="form-control " id="sexo" name="sexo" required>
                                        <option value=""></option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Feminino">Feminino</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nome">Classe:</label>

                                    <select class="form-control " id="id_classe" name="id_classe" required>
                                        <option value=""></option>
                                        {% if igreja %}
                                            {% for classe in igreja.classes.all %}
                                                <option value="{{ classe.id }}">{{ classe.nome }}</option>
                                            {% endfor %}
                                        {% elif professor %}
                                            {% for classe in professor.classe_set.all %}
                                                <option value="{{ classe.id }}">{{ classe.nome }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="nome">Nome do pai:</label>
                                    <input class="form-control " id="nome_pai" placeholder=""
                                           type="text" name="nome_pai">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Nome da mae:</label>
                                    <input class="form-control " id="nome_mae"
                                           type="text" name="nome_mae">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Data de nascimento:</label>
                                    <input class="form-control  datepicker" id="data_nascimento"
                                           type="text" name="data_nascimento" required>
                                </div>
                                <div class="form-group">
                                    <label for="nome">Estado civil:</label>
                                    <select class="form-control " id="estado_civil" name="estado_civil">
                                        <option value=""></option>
                                        <option value="Solteiro(a)">Solteiro(a)</option>
                                        <option value="Casado(a)">Casado(a)</option>
                                        <option value="Viuvo(a)">Viuvo(a)</option>
                                        <option value="Divorciado(a)">Divorciado(a)</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nome">Idade:</label>
                                    <input class="form-control " id="idade"
                                           type="number" min="0" max="100" name="idade">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Email:</label>
                                    <input class="form-control " id="email"
                                           type="email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="habilitado">Habilitado:</label>
                                    <input id="habilitado"
                                           type="checkbox" name="habilitado">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nome">Telefone residencial:</label>
                                    <input class="form-control telefone" id="telefone_residencial"
                                           type="text" name="telefone_residencial">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Telefone comercial:</label>
                                    <input class="form-control telefone" id="telefone_comercial"
                                           type="text" name="telefone_comercial">
                                </div>
                                <div class="form-group">
                                    <label for="telefone_celular">Telefone celular:</label>
                                    <input class="form-control telefone" id="telefone_celular"
                                           type="text" name="telefone_celular">
                                </div>
                                <div class="form-group">
                                    <label for="cep">CEP:</label>

                                    <div class="input-group">
                                        <input class="form-control cep" id="cep"
                                               type="text" name="cep">
                                        <span class="input-group-btn">
                                            <button id="busca_cep" class="btn btn-default" type="button">Buscar <i
                                                    class="fa fa-angle-right"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="endereco">Endereco:</label>
                                    <input class="form-control " id="endereco"
                                           type="text" name="endereco">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Numero:</label>
                                    <input class="form-control " id="numero"
                                           type="number" min="0" name="numero">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Bairro:</label>
                                    <input class="form-control " id="bairro"
                                           type="text" name="bairro">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Cidade:</label>
                                    <input class="form-control " id="cidade"
                                           type="text" name="cidade">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Estado:</label>
                                    <select class="form-control " id="estado" name="estado">
                                        <option value=""></option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapa</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceara</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espirito Santo</option>
                                        <option value="GO">Goias</option>
                                        <option value="MA">Maranhao</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Para</option>
                                        <option value="PB">Paraiba</option>
                                        <option value="PR">Parana</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piaui</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondonia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">Sao Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a href="/alunos" class="btn btn-default pull-left">Cancelar</a>
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#alunos').addClass('active');
            var steps = [
                {
                    element: ".content",
                    placement: "top",
                    backdrop: true,
                    content: 'Aqui temos um formulario para matricular o aluno.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-body",
                    placement: "top",
                    backdrop: true,
                    content: 'Preencha os campos.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(0)",
                    placement: "top",
                    backdrop: true,
                    content: 'Insira o nome do aluno.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(2)",
                    placement: "top",
                    backdrop: true,
                    content: 'A classe a qual ele vai participar durante a ebd.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(5)",
                    placement: "top",
                    backdrop: true,
                    content: 'Sua data de nascimento..',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(8)",
                    placement: "top",
                    backdrop: true,
                    content: 'Se cadastrar o email, o aluno vai ter acesso ao sistema ' +
                    'para ver suas estatisticas, apenas.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(12)",
                    placement: "top",
                    backdrop: true,
                    content: 'Inserindo um CEP valido, ao clicar em buscar, o preenchimento do endereco sera automatico.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-footer",
                    placement: "top",
                    backdrop: true,
                    content: 'Botoes de acao.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                }
            ];
            xinguTour(window.location.href, steps);
        });
    </script>
    <!-- /.row -->
{% endblock %}