{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Cadastrar Classe</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" action="/add-classe">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nome">Nome da classe:</label>
                            <input class="form-control " id="nome" placeholder="(ex.: Jovens )" type="text" name="nome"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Departamento responsavel:</label>

                            <div class="input-group">
                                <select class="form-control " id="id_depto" name="id_depto" required>
                                    <option value=""></option>
                                    {% for depto in igreja.departamentos.all %}
                                        <option value="{{ depto.id }}">{{ depto.descricao }}</option>
                                    {% endfor %}
                                </select>
                                 <span class="input-group-btn">
                                        <a data-link="/add-depto" target="_blank" class="btn btn-default addplus"><i
                                                class="fa fa-plus"></i>
                                        </a>
                                 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Professor da classe:</label>

                            <div class="input-group">
                                <select class="form-control " id="id_professor" name="id_professor" required>
                                    <option value=""></option>
                                    {% for professor in igreja.professores.all %}
                                        <option value="{{ professor.id }}">{{ professor.pessoa.nome }}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                                        <a data-link="/add-professor" target="_blank" class="btn btn-default addplus" ><i
                                                class="fa fa-plus"></i>
                                        </a>
                                 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Idade maxima:</label>
                            <input type="number" class="form-control " min="0" id="idade_maxima"
                                   name="idade_maxima" required>
                        </div>
                        <div class="form-group">
                            <label for="">Idade minima:</label>
                            <input type="number" class="form-control " min="0" id="idade_minima"
                                   name="idade_minima" required>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a href="/classes" class="btn btn-default pull-left">Cancelar</a>
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#classes').addClass('active');
            var steps = [
                {
                    element: ".content",
                    placement: "top",
                    backdrop: true,
                    content: 'Aqui temos um formulario para cadastrar uma nova classe.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-body",
                    placement: "top",
                    backdrop: true,
                    content: 'Preencha os campos.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(1)",
                    placement: "top",
                    backdrop: true,
                    content: 'Note que a classe pertence a um departamento.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(2)",
                    placement: "top",
                    backdrop: true,
                    content: 'Note que a classe deve ter um professor previamente cadastrado.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-footer",
                    placement: "top",
                    backdrop: true,
                    content: 'Botoes de acao.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                }
            ];
            xinguTour(window.location.href, steps);
        });
    </script>
    <!-- /.row -->
{% endblock %}