{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Inserir Material</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" action="/add-material" enctype="multipart/form-data">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="titulo">Titulo:</label>
                            <input class="form-control" id="titulo" placeholder="" type="text"
                                   name="titulo"
                                   required>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="descricao">Descricao:</label>
                            <textarea class="form-control" id="descricao" placeholder="" type="text"
                                      name="descricao"></textarea>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="descricao">Categoria:</label>
                            <select class="form-control" id="categoria" name="categoria" required>
                                <option value=""></option>
                                <option value="Imagem">Imagem</option>
                                <option value="Arquivo">Arquivo</option>
                                <option value="Link">Link</option>
                                <option value="Documento">Documento</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file">Arquivo:</label>
                            <input class="form-control" id="file" name="file" type="file" required>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="autor">Autor:</label>
                            {% if igreja %}
                                <input class="form-control" id="autor" placeholder="" type="text"
                                       name="autor" value="" readonly>
                            {% elif professor %}
                                <input class="form-control" id="autor" placeholder="" type="text"
                                       name="autor" value="{{ professor.pessoa.nome }}" readonly>
                            {% else %}
                                <input class="form-control" id="autor" placeholder="" type="text"
                                       name="autor" value="{{ aluno.pessoa.nome }}" readonly>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a href="/materiais" class="btn btn-default pull-left">Cancelar</a>
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#materiais').addClass('active');
            var steps = [
                {
                    element: ".content",
                    placement: "top",
                    backdrop: true,
                    content: 'Aqui temos um formulario para cadastrar um novo material.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-body",
                    placement: "top",
                    backdrop: true,
                    content: 'Preencha o campo obrigatorio.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-footer",
                    placement: "top",
                    backdrop: true,
                    content: 'Botoes de acao.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                }
            ];
            xinguTour(window.location.href, steps);
        });
    </script>
    <!-- /.row -->
{% endblock %}