{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <a class="btn btn-default pull-left print-list" href="/imprimir?q=aulas" target="_blank"><i
                            class="fa fa-print"></i>
                        Imprimir</a>

                    <form class="pull-right" method="post" action="/add-aula">{% csrf_token %}
                        <div class="input-group">
                            <select id="id_classe" name="id_classe" class="form-control" style="padding-right: 20px;"
                                    required>
                                <option value=""></option>
                                {% for classe in igreja.classes.all %}
                                    <option value="{{ classe.id }}">{{ classe.nome }}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-btn" style="padding-left: 10px;">
                              <button id="add_aula" type="submit" class="btn btn-primary btn-flat" disabled><i
                                      class="fa fa-plus"></i>
                                  Adicionar Aula
                              </button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Classe</th>
                                        <th>Data</th>
                                        <th>Criado em</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for aula in igreja.aulas.all %}
                                        <tr>
                                            <td><a href="/view-diario/{{ aula.id }}">{{ aula.id }}</a></td>
                                            <td>
                                                {% for classe in aula.classe_set.all %}
                                                    {{ classe.nome }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ aula.data|date:"d/m/Y" }}</td>
                                            <td>{{ aula.created_at|date:"d/m/Y G:i" }}</td>
                                            <td class="text-center">
                                                <a class="remover" data-link="/remove-aula/{{ aula.id }}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#aulas').addClass('active');

            $('#id_classe').change(function () {
                $('#add_aula').prop('disabled', false);
            });

            var steps = [
                {
                    element: ".content",
                    placement: "top",
                    backdrop: true,
                    content: 'Aqui temos uma tabela contendo todas as aulas.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: "form.pull-right",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Selecione uma classe para liberar o botao ao lado, e cadastre uma ' +
                    'nova aula dominical para esta classe.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: "#table",
                    placement: "top",
                    backdrop: true,
                    content: 'Tabela de dados.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".odd",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Item da tabela.',
                    onShown: function () {
                        array = $('.popover');
                        odds = $('.odd');
                        for (var i = 0; i < array.length; i++) {
                            if (i > 0) {
                                odds[i].className = 'odd';
                                array[i].setAttribute('style', 'display:none');
                            }
                        }
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: "th:eq(0)",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Clique no ID de um item para visualizar o diario completo.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: "td.text-center:eq(0)",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Deleta a aula.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: "#table_filter",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Busque um item neste campo.'
                },
                {
                    element: "#table_length",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Veja a quantidade de itens cadastrados.'
                },
                {
                    element: "#table_paginate",
                    placement: "top",
                    backdrop: true,
                    content: 'Paginacao.'
                }
            ];
            xinguTour(window.location.href, steps);
        });
    </script>
    <!-- /.row -->
{% endblock %}