{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Diarios</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Classe</th>
                                        <th>Data</th>
                                        <th>Presentes</th>
                                        <th>Faltosos</th>
                                        <th>Criado em</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for aula in igreja.aulas.all %}
                                        <tr>
                                            <td>{{ aula.id }}</td>
                                            <td>{{ aula.classe_set.all }}</td>
                                            <td>{{ aula.data|date:"d/m/Y" }}</td>
                                            <td>{{ aula.presentes.all|length }}</td>
                                            <td>{{ aula.faltosos.all|length }}</td>
                                            <td>{{ aula.created_at|date:"d/m/Y G:i" }}</td>
                                            <td class="text-center">
                                                <a href="/view-diario/{{ aula.id }}">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#diarios').addClass('active');
        });
    </script>
    <!-- /.row -->
{% endblock %}