{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Editar Classe</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" action="/edit-classe/{{ classe.id }}">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nome">Nome da classe:</label>
                            <input class="form-control " id="nome" type="text"
                                   name="nome" value="{{ classe.nome }}">
                        </div>
                        <div class="form-group">
                            <label for="depto">Departamento responsavel:</label>
                            <input class="form-control " id="depto" type="text"
                                   value="{{ classe.departamento_set.all }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="id_professor">Professor da classe:</label>
                            <input class="form-control " id="id_professor" type="text"
                                   value="{{ classe.professor.pessoa.nome }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="idade_maxima">Idade maxima:</label>
                            <input type="number" class="form-control " min="0" id="idade_maxima"
                                   name="idade_maxima" value="{{ classe.idade_maxima }}">
                        </div>
                        <div class="form-group">
                            <label for="idade_minima">Idade minima:</label>
                            <input type="number" class="form-control " min="0" id="idade_minima"
                                   name="idade_minima" value="{{ classe.idade_minima }}">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a href="/classes" class="btn btn-default pull-left">Cancelar</a>
                        <button type="submit" class="btn btn-primary pull-right">Alterar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#classes').addClass('active');
            var steps = [
                {
                    element: ".content",
                    placement: "top",
                    backdrop: true,
                    content: 'Neste formulario edite as novas informacoes.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-body",
                    placement: "top",
                    backdrop: true,
                    content: 'Preencha os campos.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-footer",
                    placement: "top",
                    backdrop: true,
                    content: 'Botoes de acao.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                }
            ];
            xinguTour(window.location.href, steps);
        });
    </script>
    <!-- /.row -->
{% endblock %}