{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ igreja.departamentos.all|length }}</h3>

                    <p>Departamentos</p>
                </div>
                <div class="icon">
                    <i class="ion ion-network"></i>
                </div>
                <a href="/departamentos" class="small-box-footer">Ver lista <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ igreja.classes.all|length }}</h3>

                    <p>Classes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-university"></i>
                </div>
                <a href="/classes" class="small-box-footer">Ver lista <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ igreja.alunos.all|length }}</h3>

                    <p>Alunos Matriculados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="/alunos" class="small-box-footer">Mais informacoes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ igreja.aulas.all|length }}</h3>

                    <p>Aulas Registradas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-clipboard"></i>
                </div>
                <a href="/aulas" class="small-box-footer">Ver lista <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
            var steps = [
                {
                    placement: "center",
                    content: 'Ola, Bem vindo ao SisEBD o seu sistema de gerenciamento da escola biblica dominical de ' +
                    'sua igreja. Com nosso sistema, o seu controle fica armazenado em "cloud", podendo acessar de ' +
                    'qualquer lugar.',
                    orphan: true
                },
                {
                    element: "#departamentos",
                    placement: "top",
                    content: 'Aqui voce pode cadastrar novos departamentos e lista todos eles.',
                    onShown: function () {
                        $('#departamentos').addClass('active');
                    },
                    onHidden: function () {
                        $('#departamentos').removeClass('active');
                    }
                },
                {
                    element: "#classes",
                    placement: "bottom",
                    content: 'Este menu gerencia a criacao de novas classes atribuindo um professor ' +
                    'e um departamento a elas.',
                    onShown: function () {
                        $('#classes').addClass('active');
                    },
                    onHidden: function () {
                        $('#classes').removeClass('active');
                    }
                },
                {
                    element: "#alunos",
                    placement: "bottom",
                    content: 'Matricula novos alunos e analisa o perfil de cada um.',
                    onShown: function () {
                        $('#alunos').addClass('active');
                    },
                    onHidden: function () {
                        $('#alunos').removeClass('active');
                    }
                },
                {
                    element: "#professores",
                    placement: "bottom",
                    content: 'Lista todos os professores associados a cada classe.',
                    onShown: function () {
                        $('#professores').addClass('active');
                    },
                    onHidden: function () {
                        $('#professores').removeClass('active');
                    }
                },
                {
                    element: "#aulas",
                    placement: "bottom",
                    content: 'Cadastra as aulas dominicais, e mantem controle de faltas dos alunos.',
                    onShown: function () {
                        $('#aulas').addClass('active');
                    },
                    onHidden: function () {
                        $('#aulas').removeClass('active');
                    }
                },
                {
                    element: "#diarios",
                    placement: "top",
                    content: 'Gera uma visualizacao de cada aula registrada.',
                    onShown: function () {
                        $('#diarios').addClass('active');
                    },
                    onHidden: function () {
                        $('#diarios').removeClass('active');
                    }
                },
                {
                    element: "#relatorios",
                    placement: "bottom",
                    content: 'Mostra dados da conta, e percentuais da sua EBD.',
                    onShown: function () {
                        $('#relatorios').addClass('active');
                    },
                    onHidden: function () {
                        $('#relatorios').removeClass('active');
                    }
                },

                {
                    element: "#data_atualizada",
                    placement: "top",
                    content: 'Data de hoje.'
                },
                {
                    element: "#time",
                    placement: "bottom",
                    content: 'Hora atualizada.'
                },
                {
                    element: ".content",
                    placement: "top",
                    content: 'Aqui fica o conteudo do menu selecionado.'
                },
                {
                    element: "#logout",
                    placement: "right",
                    content: 'Aqui para sair do sistema.',
                    onShown: function () {
                        $('#logout').addClass('active');
                    },
                    onHidden: function () {
                        $('#logout').removeClass('active');
                    }
                }
            ];
            xinguTour(window.location.href, steps);
        });
    </script>
    <!-- /.row -->
{% endblock %}