{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-database"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Dados Usados</span>
                    <span class="info-box-number">{{ dados }}
                        <small>%</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-credit-card-alt"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Plano Contratado</span>
                    {% if igreja %}
                        <span class="info-box-number">{{ igreja.plano }}</span>
                    {% elif professor %}
                        <span class="info-box-number">{{ professor.igreja_set.first.plano }}</span>
                    {% else %}
                        <span class="info-box-number">{{ aluno.igreja_set.first.plano }}</span>
                    {% endif %}
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-institution"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Igreja</span>
                    {% if igreja %}
                        <span class="info-box-number">{{ igreja.nome_igreja }}</span>
                    {% elif professor %}
                        <span class="info-box-number">{{ professor.igreja_set.first.nome_igreja }}</span>
                    {% else %}
                        <span class="info-box-number">{{ aluno.igreja_set.first.nome_igreja }}</span>
                    {% endif %}
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-phone"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Contato</span>
                    {% if igreja %}
                        <span class="info-box-number">{{ igreja.telefone }}</span>
                    {% elif professor %}
                        <span class="info-box-number">{{ professor.igreja_set.first.telefone }}</span>
                    {% else %}
                        <span class="info-box-number">{{ aluno.igreja_set.first.telefone }}</span>
                    {% endif %}
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border text-center">
                    <form action="/filter-relatorio" method="get">{% csrf_token %}
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="id_classe">Classe:</label>
                                    <select class="form-control " id="id_classe" name="id_classe" required>
                                        <option value=""></option>
                                        {% if igreja %}
                                            {% for classe in igreja.classes.all %}
                                                <option value="{{ classe.id }}">{{ classe.nome }}</option>
                                            {% endfor %}
                                        {% elif professor %}
                                            {% for classe in professor.igreja_set.first.classes.all %}
                                                <option value="{{ classe.id }}">{{ classe.nome }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for classe in aluno.igreja_set.first.classes.all %}
                                                <option value="{{ classe.id }}">{{ classe.nome }}</option>
                                            {% endfor %}
                                        {% endif %}

                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="init_data">Data Inicio:</label>

                                    <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i
                                            class="fa fa-calendar-minus-o"></i> </span>
                                        <input type="text" class="form-control datepicker" id="init_data"
                                               name="init_data" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="end_data">Data Fim:</label>

                                    <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i
                                            class="fa fa-calendar-plus-o"></i> </span>
                                        <input type="text" class="form-control datepicker" id="end_data"
                                               name="end_data" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                                            &nbsp;Filtrar
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <div style="display: block;" class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-center">
                                <strong>Presentes</strong> <i class="fa fa-square" style="color: #4978cc"></i> x
                                <strong>Faltosos</strong> <i class="fa fa-square"
                                                             style="color: rgba(56, 106, 174, 0.26)"></i> :<span
                                    id="initDate"></span>
                                -
                                <span id="endDate"></span></strong>
                            </p>

                            <div class="chart">
                                <!-- Sales Chart Canvas -->
                                <canvas height="154" width="603" id="salesChart"
                                        style="height: 154px; width: 603px;"></canvas>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Info Geral</strong>
                            </p>

                            <div class="progress-group">
                                <span class="progress-text">Alunos</span>
                                {% if igreja %}
                                    <span class="progress-number"><b>{{ igreja.alunos.all|length }}</b>/400</span>
                                {% elif professor %}
                                    <span class="progress-number"><b>{{ professor.igreja_set.first.alunos.all|length }}</b>/400</span>
                                {% else %}
                                    <span class="progress-number"><b>{{ aluno.igreja_set.first.alunos.all|length }}</b>/400</span>
                                {% endif %}

                                <div class="progress sm">
                                    <div id="percent_alunos" class="progress-bar progress-bar-aqua"
                                         style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Presentes</span>
                                <span class="progress-number"><b>{{ presentes }}</b>%</span>

                                <div class="progress sm">
                                    <div id="percent_presentes" class="progress-bar progress-bar-green"
                                         style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Faltosos</span>
                                <span class="progress-number"><b>{{ faltosos }}</b>%</span>

                                <div class="progress sm">
                                    <div id="percent_faltosos" class="progress-bar progress-bar-red"
                                         style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Visitantes</span>
                                <span class="progress-number"><b>{{ visitantes }}</b></span>

                                <div class="progress sm">
                                    <div id="percent_visitantes" class="progress-bar progress-bar-yellow"
                                         style="width: 100%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div style="display: block;" class="box-footer">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                {% if igreja %}
                                    <h5 class="description-header">{{ igreja.departamentos.all|length }}</h5>
                                {% elif professor %}
                                    <h5 class="description-header">{{ professor.igreja_set.first.departamentos.all|length }}</h5>
                                {% else %}
                                    <h5 class="description-header">{{ aluno.igreja_set.first.departamentos.all|length }}</h5>
                                {% endif %}
                                <span class="description-text">DEPARTAMENTOS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                {% if igreja %}
                                    <h5 class="description-header">{{ igreja.professores.all|length }}</h5>
                                {% elif professor %}
                                    <h5 class="description-header">{{ professor.igreja_set.first.professores.all|length }}</h5>
                                {% else %}
                                    <h5 class="description-header">{{ aluno.igreja_set.first.professores.all|length }}</h5>
                                {% endif %}
                                <span class="description-text">PROFESSORES</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                {% if igreja %}
                                    <h5 class="description-header">{{ igreja.classes.all|length }}</h5>
                                {% elif professor %}
                                    <h5 class="description-header">{{ professor.igreja_set.first.classes.all|length }}</h5>
                                {% else %}
                                    <h5 class="description-header">{{ aluno.igreja_set.first.classes.all|length }}</h5>
                                {% endif %}
                                <span class="description-text">CLASSES</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block">
                                {% if igreja %}
                                    <h5 class="description-header">{{ igreja.aulas.all|length }}</h5>
                                {% elif professor %}
                                    <h5 class="description-header">{{ professor.igreja_set.first.aulas.all|length }}</h5>
                                {% else %}
                                    <h5 class="description-header">{{ aluno.igreja_set.first.aulas.all|length }}</h5>
                                {% endif %}
                                <span class="description-text">AULAS REGISTRADAS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Relatorio de Faltas</h3>
            {% if igreja %}
                <a class="btn btn-default pull-right print-list" onclick="imprimir_page();"><i class="fa fa-print"></i>
                    Imprimir</a>
            {% endif %}
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="table" class="table table-bordered table-striped" class="display"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Classe</th>
                            {% for aula in aulas %}
                                <th>{{ aula.data|date:"d/m/Y" }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if classe %}
                            {% for aluno in classe.alunos.all %}
                                <tr>
                                    <td>{{ aluno.pessoa.nome }}</td>
                                    <td>{{ classe.nome }}</td>
                                    {% for aula in aulas %}
                                        {% if aluno in aula.presentes.all %}
                                            <td>P</td>
                                        {% else %}
                                            <td>F</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% if igreja %}
                                {% for aluno in igreja.alunos.all %}
                                    <tr>
                                        <td>{{ aluno.pessoa.nome }}</td>
                                        <td>{{ aluno.classe_set.first.nome }}</td>
                                        {% for aula in aulas %}
                                            {% if aluno in aula.presentes.all %}
                                                <td>P</td>
                                            {% else %}
                                                <td>F</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% elif professor %}
                                {% for aluno in professor.igreja_set.first.alunos.all %}
                                    <tr>
                                        <td>{{ aluno.pessoa.nome }}</td>
                                        <td>{{ aluno.classe_set.first.nome }}</td>
                                        {% for aula in aulas %}
                                            {% if aluno in aula.presentes.all %}
                                                <td>P</td>
                                            {% else %}
                                                <td>F</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for aluno in aluno.igreja_set.first.alunos.all %}
                                    <tr>
                                        <td>{{ aluno.pessoa.nome }}</td>
                                        <td>{{ aluno.classe_set.first.nome }}</td>
                                        {% for aula in aulas %}
                                            {% if aluno in aula.presentes.all %}
                                                <td>P</td>
                                            {% else %}
                                                <td>F</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Main row -->
    {#    <div class="row">#}
    {#        <!-- Left col -->#}
    {#        <div class="col-md-8">#}
    {#        </div>#}
    {#        <!-- /.col -->#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="box box-widget widget-user">#}
    {#                <!-- Add the bg color to the header using any of the bg-* classes -->#}
    {#                <div class="widget-user-header bg-aqua-active">#}
    {#                    <h3 class="widget-user-username">{{ igreja.nome_responsavel }}</h3>#}
    {#                    <h5 class="widget-user-desc">Usuario Adm</h5>#}
    {#                </div>#}
    {#                <div class="widget-user-image">#}
    {#                    {% if igreja.foto %}#}
    {#                        <img class="img-circle" src="{{ igreja.foto }}" alt="{{ igreja.nome_responsavel }}">#}
    {#                    {% else %}#}
    {#                        <img class="img-circle" src="http://lorempixel.com/128/128/"#}
    {#                             alt="{{ igreja.nome_responsavel }}">#}
    {#                    {% endif %}#}
    {##}
    {#                </div>#}
    {#                <div class="box-footer">#}
    {#                    <div class="row">#}
    {#                        <div class="col-sm-4 border-right">#}
    {#                            <div class="description-block">#}
    {#                                <h5 class="description-header">{{ igreja.id }}</h5>#}
    {#                                <span class="description-text">ID</span>#}
    {#                            </div>#}
    {#                            <!-- /.description-block -->#}
    {#                        </div>#}
    {#                        <!-- /.col -->#}
    {#                        <div class="col-sm-4 border-right">#}
    {#                            <div class="description-block">#}
    {#                                <h5 class="description-header">{{ igreja.qtd_membros }}</h5>#}
    {#                                <span class="description-text">MEMBROS</span>#}
    {#                            </div>#}
    {#                            <!-- /.description-block -->#}
    {#                        </div>#}
    {#                        <!-- /.col -->#}
    {#                        <div class="col-sm-4">#}
    {#                            <div class="description-block">#}
    {#                                <h5 class="description-header">{{ igreja.updated_at|date:"d/m/Y H:m" }}</h5>#}
    {#                            </div>#}
    {#                            <!-- /.description-block -->#}
    {#                        </div>#}
    {#                        <!-- /.col -->#}
    {#                    </div>#}
    {#                    <!-- /.row -->#}
    {#                </div>#}
    {#            </div>#}
    {#            <!-- Info Boxes Style 2 -->#}
    {#        </div>#}
    {#        <!-- /.col -->#}
    {#    </div>#}
    <script type="text/javascript">
        function imprimir_page() {
            $('.sidebar-toggle').trigger('click');
            window.print();
        }
        $(document).ready(function () {
            var steps = [
                {
                    placement: "center",
                    content: 'Ola, Bem vindo ao SisEBD o seu sistema de gerenciamento da escola biblica dominical de ' +
                    'sua igreja. Com nosso sistema, o seu controle fica armazenado em "cloud", podendo acessar de ' +
                    'qualquer lugar.',
                    backdrop: true,
                    orphan: true
                },
                {
                    element: ".form-group:eq(0)",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Para ver os relatorios comece selecionando uma classe registrada.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(1)",
                    placement: "bottom",
                    backdrop: true,
                    content: 'E entao selecione uma data de inicio do filtro.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".form-group:eq(2)",
                    placement: "bottom",
                    backdrop: true,
                    content: 'Ao selecionar uma data de fim, iremos filtrar ' +
                    'neste intervalo de datas as aulas cadastradas.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box:eq(1)",
                    placement: "top",
                    backdrop: true,
                    content: 'Apos de aplicar o filtro refazemos esta tabela e mostramos ' +
                    'o relatorio de faltas dos alunos da classe selecionada.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                }, {
                    element: "#departamentos",
                    placement: "top",
                    content: 'Aqui voce pode cadastrar novos departamentos e lista todos eles.',
                    onShown: function () {
                        $('#departamentos').addClass('active');
                    },
                    onHidden: function () {
                        $('#departamentos').removeClass('active');
                    }
                },
                {
                    element: "#classes",
                    placement: "bottom",
                    content: 'Este menu gerencia a criacao de novas classes atribuindo um professor ' +
                    'e um departamento a elas.',
                    onShown: function () {
                        $('#classes').addClass('active');
                    },
                    onHidden: function () {
                        $('#classes').removeClass('active');
                    }
                },
                {
                    element: "#alunos",
                    placement: "bottom",
                    content: 'Matricula novos alunos e analisa o perfil de cada um.',
                    onShown: function () {
                        $('#alunos').addClass('active');
                    },
                    onHidden: function () {
                        $('#alunos').removeClass('active');
                    }
                },
                {
                    element: "#professores",
                    placement: "bottom",
                    content: 'Lista todos os professores associados a cada classe.',
                    onShown: function () {
                        $('#professores').addClass('active');
                    },
                    onHidden: function () {
                        $('#professores').removeClass('active');
                    }
                },
                {
                    element: "#aulas",
                    placement: "bottom",
                    content: 'Cadastra as aulas dominicais, e mantem controle de faltas dos alunos.',
                    onShown: function () {
                        $('#aulas').addClass('active');
                    },
                    onHidden: function () {
                        $('#aulas').removeClass('active');
                    }
                },
                {
                    element: "#diarios",
                    placement: "top",
                    content: 'Gera uma visualizacao de cada aula registrada.',
                    onShown: function () {
                        $('#diarios').addClass('active');
                    },
                    onHidden: function () {
                        $('#diarios').removeClass('active');
                    }
                },
                {
                    element: "#ajuda",
                    placement: "top",
                    content: 'Clicando aqui voce consegue ter um tutorial da tela em contexto.',
                    onShown: function () {
                        $('#ajuda').addClass('active');
                    },
                    onHidden: function () {
                        $('#ajuda').removeClass('active');
                    }
                },
                {
                    element: "#logout",
                    placement: "top",
                    content: 'Clique aqui quando desejar sair do sistema.',
                    onShown: function () {
                        $('#logout').addClass('active');
                    },
                    onHidden: function () {
                        $('#logout').removeClass('active');
                    }
                }
            ];
            xinguTour(window.location.href, steps);
            if (parseInt({{ primeira_entrada }}) === 1) {
                clearTour(window.location.href);
            }
            palunos = 0;
            ppresentes = 0;
            pfaltosos = 0;
            nvisitantes = parseInt({{ visitantes }});
            if (nvisitantes === 0 || nvisitantes === undefined || nvisitantes === null) {
                $('#percent_visitantes').attr('style', 'width: 0%');
            }
            try {
                palunos = parseFloat({{ igreja.alunos.all|length }}) / 4;
                ppresentes = parseFloat({{ presentes }});
                pfaltosos = parseFloat({{ faltosos }});
            } catch (e) {
            }
            $('#inicio').addClass('active');
            $('#initDate').text('{{ initData }}');
            $('#endDate').text('{{ endData }}');
            $('#percent_alunos').attr('style', 'width:' + palunos + '%');
            $('#percent_presentes').attr('style', 'width:' + ppresentes + '%');
            $('#percent_faltosos').attr('style', 'width:' + pfaltosos + '%');

            var dataReport = {
                labels: {{ arr_datas|safe }},
                datasets: [
                    {
                        label: "Presentes",
                        fillColor: "rgb(210, 214, 222)",
                        strokeColor: "rgb(210, 214, 222)",
                        pointColor: "rgb(210, 214, 222)",
                        pointStrokeColor: "#c1c7d1",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgb(220,220,220)",
                        data: {{ arr_faltosos|safe }}
                    },
                    {
                        label: "Faltosos",
                        fillColor: "rgba(60,141,188,0.9)",
                        strokeColor: "rgba(60,141,188,0.8)",
                        pointColor: "#3b8bba",
                        pointStrokeColor: "rgba(60,141,188,1)",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(60,141,188,1)",
                        data: {{ arr_presentes|safe }}

                    }
                ]
            };
            init_report(dataReport);
        });
    </script>
{% endblock %}