{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-database"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Dados Usados</span>
                    <span class="info-box-number">{{ dados }}
                        <small>%</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-credit-card-alt"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Plano Contratado</span>
                    <span class="info-box-number">Gratuito</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-institution"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Igreja</span>
                    <span class="info-box-number">{{ igreja.nome_igreja }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-phone"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Contato</span>
                    <span class="info-box-number">{{ igreja.telefone }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Alunos Matriculados</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        {% for aluno in igreja.alunos.all %}
                            <li>
                                {% if aluno.foto %}
                                    <img src="{{ aluno.foto }}" alt="{{ aluno.pessoa.nome }}">
                                {% else %}
                                    <img src="http://lorempixel.com/128/128/" alt="{{ aluno.pessoa.nome }}">
                                {% endif %}
                                <a class="users-list-name"
                                   href="/view-aluno/{{ aluno.pessoa.id }}">{{ aluno.pessoa.nome }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="/alunos" class="uppercase">Ver Todos Alunos</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->

        <div class="col-md-4">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">{{ igreja.nome_responsavel }}</h3>
                    <h5 class="widget-user-desc">Responsavel</h5>
                </div>
                <div class="widget-user-image">
                    {% if igreja.foto %}
                        <img class="img-circle" src="{{ igreja.foto }}" alt="{{ igreja.nome_responsavel }}">
                    {% else %}
                        <img class="img-circle" src="http://lorempixel.com/128/128/"
                             alt="{{ igreja.nome_responsavel }}">
                    {% endif %}

                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">{{ igreja.id }}</h5>
                                <span class="description-text">ID</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">{{ igreja.qtd_membros }}</h5>
                                <span class="description-text">MEMBROS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">{{ igreja.updated_at|date:"d/m/Y H:m" }}</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- Info Boxes Style 2 -->
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Alunos</span>
                    <span class="info-box-number">{{ igreja.alunos.all|length }}</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                  <span class="progress-description">
                    {{ igreja.alunos.all|length }} alunos matriculados
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-thumbs-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Presentes</span>
                    <span class="info-box-number">{{ presentes }}</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: {{ presentes }}%"></div>
                    </div>
                  <span class="progress-description">
                      {{ presentes }}% dos alunos estao presentes
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-thumbs-down"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Faltosos</span>
                    <span class="info-box-number">{{ faltosos }}</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: {{ faltosos }}%"></div>
                    </div>
                  <span class="progress-description">
                      {{ faltosos }}% dos alunos faltaram
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-user-plus"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Visitantes</span>
                    <span class="info-box-number">{{ visitantes }}</span>

                  <span class="progress-description">
                    {{ visitantes }} pessoas visitaram a EBD.
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->

        </div>
        <!-- /.col -->
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#relatorios').addClass('active');
        });
    </script>
{% endblock %}