{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Visualizar Departamento</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="descricao">Nome departamento:</label>
                            <input class="form-control input-lg" id="descricao" type="text"
                                   name="descricao" value="{{ depto.descricao }}" readonly>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a href="/departamentos" class="btn btn-default pull-left">Voltar</a>
                        <a href="/edit-depto/{{ depto.id }}" class="btn btn-primary pull-right">Editar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
           $('#departamentos').addClass('active');
            var steps = [
                {
                    element: ".content",
                    placement: "top",
                    backdrop: true,
                    content: 'Neste formulario visualize as informacoes do departamento.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                },
                {
                    element: ".box-footer",
                    placement: "top",
                    backdrop: true,
                    content: 'Botoes de acao.',
                    onShown: function () {
                    },
                    onHidden: function () {
                    }
                }
            ];
            xinguTour(window.location.href, steps);
        });
    </script>
    <!-- /.row -->
{% endblock %}